{% extends "base.html" %}
{%load static%}
{% block title %}View Offers{% endblock %}
{% block content %}
<div class="container mt-5">
    <!-- Header with Create Offer Button -->
    <!-- Create Offer Button -->
    {% if user.is_authenticated %}
    <div 
        class="d-flex justify-content-end mb-3">
        <a 
         href="{% url 'offers:create_offer' %}?next={{ request.path }}" 
         class="btn btn-primary w-100 w-md-auto" aria-label="Create a new offer">
         Create Offer
        </a>
    </div>
    {% endif %}

    <!-- Header with Filters -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-3">
        <h2 class="text-center text-md-start mb-2 mb-md-0">Active Offers</h2>

        <!-- Filter Section -->
        <form method="get" action="{% url 'offers:view_offers' %}" class="d-flex align-items-center gap-2">
            <select name="is_buying" id="is_buying" class="form-select form-select-sm me-2">
                <option value="">All Types</option>
                <option value="1" {% if request.GET.is_buying|default:'' == '1' %}selected{% endif %}>Buying</option>
                <option value="0" {% if request.GET.is_buying|default:'' == '0' %}selected{% endif %}>Selling</option>
            </select>
            <select name="currency" id="currency" class="form-select form-select-sm me-2">
                <option value="">All Currencies</option>
                <option value="USD" {% if request.GET.currency == 'USD' %}selected{% endif %}>USD</option>
                <option value="EUR" {% if request.GET.currency == 'EUR' %}selected{% endif %}>EUR</option>
            </select>
            <select name="rate_type" id="rate_type" class="form-select form-select-sm me-2">
                <option value="">All Rates</option>
                <option value="FIXED" {% if request.GET.rate_type == 'FIXED' %}selected{% endif %}>Fixed</option>
                <option value="FLEXIBLE" {% if request.GET.rate_type == 'FLEXIBLE' %}selected{% endif %}>Flexible</option>
            </select>
            <button type="submit" class="btn btn-primary btn-sm w-100 w-md-auto">Filter</button>
            <a href="{% url 'offers:view_offers' %}" class="btn btn-secondary btn-sm w-100 w-md-auto" aria-label="Reset filter values">Reset</a>
        </form>
    </div>

    <div class="row g-3">
        {% for offer in offers %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-sm offer-card ">
                <div class="card-body">
                    <h5 class="card-title">Offer ID: {{ offer.id}}</h5>
                    <p></p>
                    <p>Created By: <strong>{{offer.user.username}}</strong></p>
                    <p>Offer: <strong>{{offer.amount}} {{offer.currency}}</strong></p>
                    <p>Action: <strong>{{offer.action}}</strong></p>
                    <p>Exchange Rate: <strong>{{offer.exchange_rate}} €/$ </strong></p>                    
                    <p>Exchange Amount: <strong>{{offer.converted_amount}} {{offer.converted_amount_currency}}</strong></p>
                    <p>Exchange Type: <strong>{{offer.get_rate_type_display}}</strong></p>
                    <p>Created On: <strong>{{offer.created_at|date:"M d, Y"}}</strong></p>

                    <!-- Bid Status for Logged-in User -->
                    {% if offer.user_bid %}
                    <p class="card-text">
                        <strong>Your Bid:</strong> {{ offer.user_bid.amount }} {{offer.user_bid.currency}}<br>
                        <strong>Status:</strong> {{ offer.user_bid.get_status_display }}
                    </p>
                    {% endif %}

                    <!-- For Offer Creator -->
                    {% if user.is_authenticated and user == offer.user %}
                    <div>
                        <h6>Bids:</h6>
                        <p><strong>{{ offer.bids.count }}</strong> Bids Received</p>
                        <div class="action-buttons">
                            <a
                             href="{% url 'offers:view_bids' offer.id %}?next={{ request.path }}"
                             class="btn btn-primary btn-sm"
                             aria-label="View list of bids for offer">
                             View Bids
                            </a>
                            <a href="{% url 'offers:edit_offer' offer.id %}?next={{ request.path }}"
                               class="btn btn-warning btn-sm"
                               aria-label="Edit offer">                               
                               Edit Offer
                            </a>
                            <button
                                type="button"
                                class="btn btn-danger btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteConfirmationModal"
                                data-action="{% url 'offers:delete_offer' offer.id %}?next={{ request.path }}"
                                data-item="offer">
                                Delete Offer
                            </button>
                        </div>
                    </div>
                    {% else %}

                    <!-- For Bidders -->

                    <div class="bid-buttons">
                        {% if not offer.user_bid %}
                        <!-- Place Bid Button -->
                        <a href="{% url 'offers:place_bid' offer.id %}?next={{ request.path }}" 
                           class="btn btn-primary btn-sm"
                           aria-label="Place a bid for the offer">
                           Place Bid
                         </a>
                        {% else %}
                        <!-- Show Edit Bid Button Only if Status is AWAITING -->
                        {% if offer.user_bid.status == "AWAITING" %}
                        <a href="{% url 'offers:edit_bid' offer.user_bid.id %}?next={{ request.path }}" 
                           class="btn btn-warning btn-sm"
                           aria-label="Edit your bid">
                           Edit Your Bid
                        </a>
                        {% endif %}
                        {% endif %}
                        {% if offer.user_bid and offer.user_bid.id %}
                        <button
                            type="button"
                            class="btn btn-danger btn-sm"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteConfirmationModal"
                            data-action="{% url 'offers:delete_bid' offer.user_bid.id %}?next={{ request.path }}"
                            data-item="bid">
                            Delete Bid
                        </button>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Delete Confirmation Modal -->
{% include 'partials/delete_confirmation_modal.html' %}
{% block scripts %}
<script src="{% static 'js/delete_confirmation.js' %}"></script>
{% endblock %}
{% endblock %}